:root{
    --gameColumnDimentions: 65px;
    --bgColumnColor: #28e;
    --bgColor: rgb(26, 49, 71);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    color: #fff;
    background: var(--bgColor)
}

.wrapper{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: 3em;
    font-weight: 900;
    color: #fff;
    padding: 40px;
    text-align: center;
}

#instructions{
    position: absolute;
    right: 30px;
    top: 60px;
    max-width: 250px;
}
#instructions-title{
    text-align: center;
    margin-bottom: 10px;
}
#icon{
    cursor: pointer;
    margin: auto;
    width: fit-content;
    padding: 8px;
    background-color: #000;
    border-radius: 5px;
}

.arrow{
    margin: 0;
    display: inline-block;
    border: solid 4px transparent;
    border-left: solid 4px #fff;
    transition: transform 0.6s ease;
}
.arrow-down{
    transform: rotate(90deg);
}

#instructions-list{
    overflow: hidden;
    max-height: 0px;
    padding-left: 30px;
    background: #0008;
    border-radius: 5px;
    transition: max-height 0.6s ease;
    text-align:justify;
}
#instructions-list li{
    margin-bottom: 10px;
}
#instructions-list li ul{
    margin-top: 10px;
    margin-left: 20px;
}


.open-list{
    max-height: 1000px !important;
    padding: 10px;
}


.ins-grey{
    background-color: #8888;
}
.ins-yellow{
    background-color: #ee08;
}
.ins-green{
    background-color: #2e28;
}








#gameInfo{
    position: absolute;
    width: 200px;
    background: #0005;
    border-radius: 0px 5px 5px 0px;
}
#gameInfo > h4{
    padding: 5px;
    text-align: center;
}

#answeredList{
    background: #0005;
    padding: 25px;
    border-radius: 0px 0px 5px 5px;
}
#answeredList> li{
    margin-bottom: 5px;
}
.gameSlider{
    overflow-x: hidden;
}
.sliding{
    display: flex;
    width: fit-content;
    transition: transform 0.6s ease;
}
.gameSection{
    display: inline-block;
    width: 100vw;
}
.gameContainer{
    background: #0008;
    margin: auto;
    width: fit-content;
    padding: 4px;
    border-radius: 5px;
}
.gameRow{
    display: flex;
    width: fit-content;
    height: fit-content;
}
.currentRow{
    outline: solid 2px #fff;
    /* outline-offset: -2px; */
    border-radius: 5px;
}

.gameColumn{
    height: var(--gameColumnDimentions);
    width: var(--gameColumnDimentions);
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    margin: 2px;
    background: var(--bgColumnColor);
    border-radius: 5px;
}



.letter-almost{
    background-color: #ee0;
}	
.letter-correct{
    background-color: #2e2;
}
.letter-wrong{
    background-color: #888;
}

.scale-down-animation{
    animation: scale-down-animation 0.2s;
    transform: scale(5px);
}

@keyframes scale-down-animation {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}

.hint, .correct-answer{
    text-align: center;
    margin: 5px auto;
    background-color: #0009;
    padding: 15px;
    width: fit-content;
    border-radius: 5px;
    max-width: 400px;
}

.correct-answer{
    display: none;
    font-weight: 900;
}


.winAnimation-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0005;
}
.winAnimation-bg>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -400%);

    width: fit-content;
    padding: 20px;
    
    font-size: 2em;
    font-weight: 900;
    background-color: #fff;
    border-radius: 10px;
    animation: slideDown 1.5s linear forwards;
}
.win{
    color: #2e2;
}
.lose{
    color: #e22;
}



@keyframes slideDown {
    0%{
        transform: translate(-50%, -400%);
        opacity: 0;
    }
    20%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    80%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, 400%);
        opacity: 0;
    }
}

@keyframes slide-down-center{
    0%{
        transform: translate(-50%, -400%);
        opacity: 0;
    }
    100%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }

}

